.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  border: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.15s;

  &--index {
    font-size: 14px;
    line-height: 18px;
  }

  &--green {
    color: @text-color-button;
    background-color: @background-color-button;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--gray {
    color: @text-color-main;
    background-color: @background-color-minor;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 11px;
  }
}
