.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  border: none;

  &--index {
    font-size: 14px;
    line-height: 18px;
  }

  &--green {
    color: @text-color-button;
    background-color: @background-color-button;
  }

  &--gray {
    color: @text-color-main;
    background-color: @background-color-minor;
  }
}
