.contacts {
  background-color: @background-color-main;

  &--transparent {
    background-color: transparent;
  }
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-titles;
  text-transform: uppercase;
  width: 124px;
  margin: 0;
}

.contacts__address {
  line-height: 20px;
  width: 135px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    // padding-left: 40px;
    // padding-right: 40px;
    width: 630px;
    margin: 0 auto;
  }

  .contacts__text {
    width: 155px;
  }

  .contacts__address {
    width: 155px;
  }

  .contacts__span {
    margin-top: 10px;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 570px;
    padding-left: 76px;
    padding-right: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: @background-color-main;
  }
}
