.copyright {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright:hover .copyright__image {
  fill: @background-color-green;
}

.copyright:active .copyright__image {
  opacity: 0.3;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  display: block;
  color: @text-color-main;
  cursor: pointer;

  &--icon {
    margin-top: 1px;
  }
}

.copyright__link:focus ~ .copyright__link .copyright__image {
  fill: @background-color-green;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link:focus .copyright__image {
  fill: @background-color-green;
}

.copyright__image {
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .copyright__link--icon {
    margin-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link--icon {
    margin-top: 4px;
  }
}
