.filling-field {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;

  &--checkbox {
    padding-left: 46px;
    margin-bottom: 25px;
  }
}

.filling-field__label {
  color: @text-color-form;
  background-color: @background-color-main;
  flex-shrink: 0;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.filling-field__input:focus + .filling-field__label::before {
  outline: auto 2px Highlight;
}

.filling-field__input + .filling-field__label--checkbox::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
}

.filling-field__input:hover + .filling-field__label--checkbox::before,
.filling-field__input:focus + .filling-field__label--checkbox::before {
  border-color: #bababa;
}

.filling-field__input + .filling-field__label--checkbox::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
}

.filling-field__input:checked + .filling-field__label--checkbox::after {
  width: 22px;
  height: 17px;
  background-color: @background-color-main;
  left: -42px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filling-field__input + .filling-field__label--round::before,
.filling-field__input + .filling-field__label--round::after {
  border-radius: 50%;
}

.filling-field__input:checked + .filling-field__label--round::after {
  width: 12px;
  height: 12px;
  background-color: @background-color-green;
  left: -37px;
  background-image: none;
}

.filling-field__input,
.filling-field__text {
  font: inherit;
  color: @text-color-main;
  background-color: @background-color-main;
  text-transform: uppercase;
}

.filling-field__input {
  border: 1px solid #e6e6e6;
  min-width: 10px;

  &--auto-width {
    width: 100%;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: @text-color-main;
    border-width: 2px;
  }


  &--cat-data,
  &--contact-details {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-right: 16px;
    padding-left: 15px;

    &:focus {
      padding-top: 11px;
      padding-bottom: 12px;
      padding-right: 15px;
      padding-left: 14px;
    }

    &:invalid {
      border-color: #ff8282;
      border-width: 2px;
      padding-top: 11px;
      padding-bottom: 12px;
      padding-right: 15px;
      padding-left: 14px;
    }
  }

  &--cat-data {
    margin-left: 14px;
  }

  &--contact-details {
    padding-right: 37px;
    margin-left: 10px;

    &:focus {
      padding-right: 37px;
    }

    &:invalid {
      padding-right: 37px;
    }
  }
}

.filling-field__text {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 14px;
  min-height: 150px;
  border: 1px solid #e6e6e6;
  resize: vertical;
  transition: 0.15s;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: @text-color-main;
    border-width: 2px;
    padding-right: 11px;
    padding-left: 13px;
    padding-top: 12px;
  }

  &:active {
    border-color: @text-color-main;
  }
}

.filling-field__image {
  position: absolute;

  &--mail {
    right: 16px;
    top: 15px;
  }

  &--phone {
    right: 12px;
    top: 13px;
  }
}

.filling-field__input:focus ~ .filling-field__image {
  fill: @background-color-green;
}

.filling-field__input:invalid ~ .filling-field__image {
  fill: #ff8282;
}

@media (min-width: @tablet-width) {
  .filling-field {
    &--checkbox {
      margin-bottom: 33px;
      padding-left: 59px;
    }

    &--extra {
      margin-bottom: 51px;
      width: 245px;
      margin-right: 100px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 51px;
      }
    }
  }

  .filling-field__label {
    font-size: 20px;
    line-height: 20px;
  }

  .filling-field__input {
    font-size: 20px;
    line-height: 20px;

    &--cat-data,
    &--contact-details {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px;
      line-height: 30px;

      &:focus {
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 19px;
        padding-left: 19px;
      }

      &:invalid {
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 19px;
        padding-left: 19px;
      }
    }

    &--cat-data {
      margin-left: 20px;
      padding-left: 18px;
    }

    &--contact-details {
      padding-right: 45px;
      margin-left: 17px;

      &:focus {
        padding-right: 45px;
      }

      &:invalid {
        padding-right: 45px;
      }
    }
  }

  .filling-field__input + .filling-field__label--checkbox::before {
    width: 40px;
    height: 40px;
    left: -59px;
  }

  .filling-field__input:checked + .filling-field__label--round::after {
    width: 18px;
    height: 18px;
    left: -48px;
  }

  .filling-field__input:checked + .filling-field__label--checkbox::after {
    left: -48px;
  }

  .filling-field__text {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 18px;
    padding-left: 18px;
    overflow-x: hidden;

    &:focus {
      padding-top: 9px;
      padding-right: 17px;
      padding-left: 17px;
    }
  }

  .filling-field__image {
    &--mail {
      right: 19px;
      top: 19px;
    }

    &--phone {
      right: 16px;
      top: 16px;
    }
  }
}

@media (min-width: @desktop-width) {
  .filling-field {
    &--contact-details {
      width: 570px;
      margin-bottom: 0;
    }

    &--extra {
      margin-right: 80px;

      &:nth-child(2n) {
        margin-right: 80px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filling-field__text {
    padding-top: 10px;
  }

  .filling-field__image {
    &--mail {
      right: 22px;
    }

    &--phone {
      right: 18px;
    }
  }
}
