.gift {
  background-color: #68b738;
  background-image: url("../img/catalog-gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: @text-color-minor;
}
