.live-story {
  background-color: @background-color-minor;
}

.live-story__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: @text-color-titles;
  background-color: @background-color-minor;
  font-weight: 400;
}

.live-story__data {
  display: flex;
  justify-content: space-between;
}

.live-story__cost {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-minor;
  text-transform: uppercase;
  text-align: center;
}

.live-story__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-minor;
  text-transform: uppercase;
  border: none;
}

@media (min-width: @tablet-width) {
  .live-story__data-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .live-story__data {
    justify-content: flex-start;
  }

  .live-story__cost {
    width: 180px;
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .live-story__text {
    width: 435px;
  }

  .live-story__data-wrapper {
    flex-direction: column;
  }

  .live-story__cost {
    width: 328px;
    display: flex;
    justify-content: space-between;
  }
}
