.more-products__text-1 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-main;
  text-transform: uppercase;
}

.more-products__text-2 {
  font-size: 12px;
  line-height: 16px;
}
