.product__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-main;
  text-transform: uppercase;
  font-weight: 400;
}

.product__data {
  font-size: 12px;
  line-height: 16px;
}
