.progress {
  position: relative;
  padding-bottom: 20px;
}

.progress__result {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @text-color-titles;
  background-color: @background-color-minor;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 17px;
}

.progress__text {
  font-size: 12px;
  line-height: 12px;
  margin: 0 15px;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.progress__text-inner {
  background-color: @background-color-minor;
  padding: 0 15px;
  text-align: center;
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .progress__result {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 18px;
    background-color: transparent;
  }

  .progress__text {
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    margin: 0;
    text-align: center;
    bottom: 14px;
  }

  .progress__text-inner {
    background-color: @background-color-main;
    padding: 0 8px;
  }
}

@media (min-width: @desktop-width) {
  .progress__text-inner {
    background-color: @background-color-minor;

    &--slider {
      background-color: #eaeaea;
    }
  }
}
