.program-selection {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.program-selection__transcript {
  line-height: 16px;
  display: block;
  width: 161px;
  margin: 0 auto;
}

.program-selection__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .program-selection {
    width: auto;
    padding-bottom: 72px;
  }

  .program-selection__button-block-group {
    width: 626px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .program-selection__button {
    width: 283px;
    margin: 0;
    margin-right: 61px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .program-selection__transcript {
    margin: 0;
    margin-right: auto;
    font-size: 16px;
    line-height: 16px;
    width: 180px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    margin-bottom: 10px;
  }

  .program-selection__form {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .program-selection__button-block-group {
    width: 1220px;
  }

  .program-selection__button {
    width: 568px;
    margin-right: 83px;
  }
}
