.promo {
  font-family: "Oswald", sans-serif;
  color: @text-color-minor;
  margin-bottom: 22px;
}

.promo__wrapper {
  padding-top: 27px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
}

.promo__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.promo__image {
  width: 280px;
  height: 271px;
  margin-bottom: 4px;
}

.promo__link {
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (max-width: @mobile-width-only) {
  .promo {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 320px 305px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

@media (min-width: @tablet-width) {
  .promo {
    margin-bottom: 0;
  }

  .promo__wrapper {
    position: relative;
    padding-top: 56px;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: @text-color-titles;
    text-align: left;
    width: 415px;
    margin-bottom: 43px;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @text-color-titles;
    text-align: left;
    width: 415px;
    margin-bottom: 18px;
  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  .promo__link {
    width: 245px;
    position: absolute;
    top: 285px;
    left: 0;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .promo__title,
  .promo__slogan,
  .promo__link {
    margin-left: 89px;
    margin-right: 89px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-bottom: 80px;
    margin-top: -116px;
    background-color: @background-color-green;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, @background-color-main 50%, #65a93c 50%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 720px 696px, auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, @background-color-main 50%, #65a93c 50%);
    }
  }

  .promo__wrapper {
    padding-top: 222px;
    padding-bottom: 188px;
  }

  .promo__title {
    position: relative;
    z-index: 2;
    margin-bottom: 42px;
  }

  .promo__slogan {
    margin-bottom: 52px;
  }

  .promo__image {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 142px;
    left: 50%;
    margin-left: -159px;
  }

  .promo__link {
    position: static;
  }

  .promo__title,
  .promo__slogan,
  .promo__link {
    margin-left: 80px;
    margin-right: 80px;
  }
}
