.site-list {
  width: 320px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-main;
  text-transform: uppercase;
  .list-reset();
  display: flex;
  flex-direction: column;
}

.site-list__link {
  border-bottom: 1px solid #e6e6e6;
  color: @text-color-titles;
  display: block;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    width: 439px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  .site-list__link {
    padding: 0;
    padding-top: 18px;
    padding-bottom: 15px;
    border-bottom: none;
    position: relative;
  }

  .site-list__link:not([href])::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: @background-color-green;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
    width: 479px;
    justify-content: space-between;
    font-size: 20px;
    background-color: transparent;

    &--index {
      color: @text-color-minor;
    }
  }

  .site-list__link--index {
    color: @text-color-minor;
  }

  .site-list__link--index:not([href])::after {
    background-color: @text-color-minor;
  }
}
