.site-list {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: @text-color-titles;
  background-color: @background-color-main;
  text-transform: uppercase;
}

.site-list__link {
  color: @text-color-titles;
}
