.socials {
  border-bottom: 1px solid #e6e6e6;
  width: 280px;
  margin: 0 auto;
}

.socials__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .socials {
    border-bottom-color: transparent;
  }
}
